<nav class="main-nav">
    <!-- ***** Logo Start ***** -->
    <a href="{%url 'home' %}" class="logo">
        <img src="/static/assets/images/logo.png" alt="">
    </a>
    <!-- ***** Logo End ***** -->

    <!-- ***** Menu Start ***** -->
    <ul class="nav">
        <li class="scroll-to-section"><a href="{%url 'home' %}">Home</a></li>

        <li class="scroll-to-section"><a href="{%url 'hoods' %}">Hoods</a></li>
        
        <li class="scroll-to-section"><a href="{%url 'about-us' %}">About</a></li>
        {%if request.user.is_authenticated%}
        <li class="scroll-to-section"><a href="">Profile</a></li>
        <li class="scroll-to-section"><a href="{%url 'logout' %}">Logout</a></li>
        {%else%}
        <li class="scroll-to-section"><a href="{%url 'login' %}">Login</a></li>
        {%endif%}
        <li><a href="{%url 'create-hood' %}">Create Hood</a></li> 
    </ul>        
    <a class='menu-trigger'>
        <span>Menu</span>
    </a>
    <!-- ***** Menu End ***** -->
</nav>





