{%extends 'base.html'%}

{%block body%}


<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="col-12">
          {%include 'nav.html' %}
        </div>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->

<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="header-text">
          <h2>About Us</h2>
          <div class="div-dec"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ***** Main Banner Area End ***** -->

<section class="top-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="left-image">
          <img src="/static/assets/images/about-left-image.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 align-self-center">
        <div class="accordions is-first-expanded">
          <article class="accordion">
            <div class="accordion-head">
              <span>Discover Businesses In Your Hood.</span>
              <span class="icon">
                <i class="icon fa fa-chevron-right"></i>
              </span>
            </div>
            <div class="accordion-body">
              <div class="content">
                <p>You will see bunch of businesses listed out within the hood that you joined. These businesses will
                  be listed to allow easy access from wherever in the hood.
                  <br><br>The businesses have numbers and locations listed out for easy access.
                </p>
              </div>
            </div>
          </article>
          <article class="accordion">
            <div class="accordion-head">
              <span>Get Trending News in your Hood</span>
              <span class="icon">
                <i class="icon fa fa-chevron-right"></i>
              </span>
            </div>
            <div class="accordion-body">
              <div class="content">
                <p>Be in the loop of whats hapening within your hood. Get news updates, meeting updates and much
                  more about you hood.
                  <br><br>You can easily pass and recieve news about your hood right from yout hood application.
                </p>
              </div>
            </div>
          </article>
          <article class="accordion">
            <div class="accordion-head">
              <span>Connect With Your Neighbours</span>
              <span class="icon">
                <i class="icon fa fa-chevron-right"></i>
              </span>
            </div>
            <div class="accordion-body">
              <div class="content">
                <p>You can see the various memebrs within your hood and start conversations with them.
                  <br><br>Stay connected and with your neigbours right from your phone.
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
</section>

<section class="simple-cta">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h4>Discover <em>Hoods</em> and <strong>Get Connected</strong> To Your Neighbours</h4>
      </div>
      <div class="col-lg-7">
        <div class="buttons">
          <div class="green-button">
            <a href="{%url 'hoods' %}">Discover Hoods</a>
          </div>
          <div class="orange-button">
            <a href="{%url 'contact-us'%}">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="what-we-do">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="left-content">
          <h4>Cant find a hood you belong to? </h4>
          <p>If you cant seem to find a hood you feel you belong to you can always create a hood and manage its
            activities.
            Create a hood and have members join you so you can have a safe and secure hood to communicate. <br><br>
            Register a hood below and commuincate with members who join it. Check out businesses that register.
          </p>
          <div class="green-button">
            <a href="{%url 'create-hood'%}">Create Hood</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-items">
          <div class="row">
            <div class="col-lg-6">
              <div class="item">
                <em>01</em>
                <h4>First Step</h4>
                <p>Join a hood that has community members from the same neighbourhood as you. Incase none exist, create
                  your own hood.</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item">
                <em>02</em>
                <h4>Second Step</h4>
                <p>Communicate by members within the hood. Be respectful and cordial. Enlist your businesses incase you
                  have any so members acn easily know where they are.</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item">
                <em>03</em>
                <h4>Third Step</h4>
                <p>Get informtion about whats happening in your hood easily. Check out th news section, community
                  section and business section.</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item">
                <em>04</em>
                <h4>Fourth Step</h4>
                <p>Enjoy the hood experince and share it with other people within your hood.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="partners">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-sm-4 col-6">
        <div class="item">
          <img src="/static/assets/images/client-01.png" alt="">
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 col-6">
        <div class="item">
          <img src="/static/assets/images/client-01.png" alt="">
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 col-6">
        <div class="item">
          <img src="/static/assets/images/client-01.png" alt="">
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 col-6">
        <div class="item">
          <img src="/static/assets/images/client-01.png" alt="">
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 col-6">
        <div class="item">
          <img src="/static/assets/images/client-01.png" alt="">
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 col-6">
        <div class="item">
          <img src="/static/assets/images/client-01.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}