{%extends 'base.html'%}
{%block body%}
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {%include 'nav.html' %}
            </div>
        </div>
    </div>
</header>

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-text">
                    <h2>Create a Hood</h2>
                    <div class="div-dec"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="" id="">
   
</section>
{%endblock%}