{%extends 'base.html'%}
{%block body%}
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {%include 'nav.html' %}
            </div>
        </div>
    </div>
</header>

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-text">
                    <h2>Create a Hood</h2>
                    <div class="div-dec"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="contact-us-form">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h6>Create a Hood</h6>
          </div>
        </div>
        <div class="col-lg-10 offset-lg-1">
          <form id="contact" action="" method="POST" class="mb-3" enctype="multipart/form-data">
            {%csrf_token%}
            {{form}}
                <button type="submit" id="form-submit" class="orange-button">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
{%endblock%}