{%extends 'base.html'%}
{%load static%}

{%block body%}
<header class="header-area header-sticky">
  <div class="container">
      <div class="row">
          <div class="col-12">               
            {%include 'nav.html' %}
          </div>
      </div>
  </div>
</header>

<div class="page-heading">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="header-text">
        <h2>Our Hoods</h2>
        <div class="div-dec"></div>
      </div>
    </div>
  </div>
</div>
</div>

<section class="services" id="services">
  <div class="container">
    <div class="row">
      {%for hood in hoods%}
      {%if hood.name == member.hood.name%}
      <a class='col-lg-6' href="{%url 'hood' hood.name%}">
        <div class="">
          <div class="service-item">
            <i class="fas fa-map-marker-alt"></i>
            <h4>{{hood.name |capfirst}}</h4>
            <p> Location ~ {{hood.location}}</p>
            <i class="fas fa-user-check float-end"  style="color: #ff511a; font-size: 20px;"></i>
          </div>
        </div>
      </a>
      {%else%}
      <a class='col-lg-6' href="{%url 'join-hood' hood.name%}">
        <div class="">
          <div class="service-item">
            <i class="fas fa-map-marker-alt"></i>
            <h4>{{hood.name}}</h4>
            <p> Location ~ {{hood.location}}</p>
          </div>
        </div>
      </a>
      {%endif%}
      {%endfor%}
    </div>
  </div> 
</section>

{%endblock%}
