{%extends 'base.html'%}
{%load static%}

{%block body%}
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {%include 'nav.html' %}
            </div>
        </div>
    </div>
</header>

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-text">
                    <h2>{{profile.owner.username | capfirst}}'s Profile</h2>
                    <div class="div-dec"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="top-section mb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-image">
                    {%if profile.pic%}
                    <img src="{{profile.pic.url}}" class="rounded-5 w-50">
                    {%else%}
                    <p>Edit your profile to upload a profile picture</p>
                    {%endif%}
                </div>
            </div>
            {%if news%}
            <section class=" col-lg-6" id="services">
                <div class="">
                    <div class="service-item">
                        <h5>My News</h5>
                        <hr>
                       {%for news in news%}
                       <div class="mb-3">
                        <h6>{{news.title}}</h6>
                        <p>{{news.body}}</p>
                        <small class="text-muted">{{news.created | timesince}}</small>
                       </div>
                       {%endfor%}
                    </div>
                </div>
            </section>
            {%endif%}

            <section class=" col-lg-6 mt-3" id="services">
                <div class="">
                    <div class="service-item">
                        <h6>{{profile.owner.username}}</h6>
                        <hr>
                        {%if profile.bio%}
                        <p>Bio : {{profile.bio}}</p>
                        {%else%}
                        <p></p>
                        {%endif%}

                        {%if profile.owner.email%}
                        <p>Email : {{profile.owner.email}}</p>
                        {%else%}
                        <p>User has no email address</p>
                        {%endif%}
                        <div class="mt-4">
                            {%if profile.hood is None %}
                            <h6>You havent joined any hood</h6>
                            {%else%}
                            <h6>Current Hood :
                                <a style="color: #43ba7f;" href="{%url 'hood' profile.hood.name%}">
                                    {{profile.hood.name}}
                                </a>
                            </h6>
                            {%endif%}
                        </div>
                        <a href="{%url 'update-profile' %}">
                            <i class="fa-solid fa-user-pen float-end" style="font-size: 20px; color: #ff511a;"></i>
                        </a>
                    </div>
                </div>
            </section>
        </div>
</section>

{%endblock%}