{%extends 'base.html'%}
{%load static%}

{%block body%}
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{%url 'home' %}" class="logo">
                        <img src="/static/assets/images/logo.png" alt="">
                    </a>
                    <!-- ***** Logo End ***** -->

                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="{%url 'home' %}">Home</a></li>
                        <li class="scroll-to-section"><a href="{%url 'about-us' %}">About</a></li>
                        {%if request.user.is_authenticated%}
                        <li class="scroll-to-section"><a href="{%url 'hood' hood.name %}">{{current_user.hood}}</a></li>
                        <li class="scroll-to-section"><a href="{%url 'profile' %}">Profile</a></li>
                        <li class="scroll-to-section"><a href="{%url 'logout' %}">Logout</a></li>
                        {%else%}
                        <li class="scroll-to-section"><a href="{%url 'login' %}">Login</a></li>
                        {%endif%}
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-text">
                    <h2>{{hood.name}} Hood</h2>
                    <div class="div-dec"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="top-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-image">
                    <img src="{{hood.img.url}}" alt="">
                </div>
                <section class="services" id="services">
                    <div class="">
                        <div class="service-item">
                            <h5>Hood admin: {{hood.admin.username}}</h5>
                            <p>Location ~ {{hood.location}}</p>
                            {%if hood.admin.email%}
                            <p class="float-end"><a  style="color: #ff511a;" 
                                href="mailto:{{hood.admin.email}}">Contact Admin</a></p>
                            {%endif%}
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="accordions is-first-expanded">
                    <article class="accordion">
                        <div class="accordion-head">
                            <span>Amenitites</span>
                            <span class="icon">
                                <i class="icon fa fa-chevron-right"></i>
                            </span>
                            <button type="button" class="btn btn-sm float-end">
                                <a style='color: #212741;' href="{%url 'amenity' hood.name%}">List Amenity</a>
                            </button>
                        </div>
                        <div class="accordion-body">
                            <div class="content">
                                <div class="content">
                                {%for amenity in amenity %}
                                <p class="mb-3">
                                    <h6> {{amenity.name | capfirst}}</h6>
                                    <br> {{amenity.location | capfirst}}
                                    <br> {{amenity.phone | capfirst}}
                                    <br> {{amenity.email}}
                                    <br><br>
                                    <small style="color: #ff511a;"><small>{{amenity.type}}</small></small>
                                    <br> <small class="text-muted">active since {{amenity.created | timesince}}</small>
                                    </p>
                                {%endfor%}
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="accordion">
                        <div class="accordion-head">
                            <span>News</span>
                            <span class="icon">
                                <i class="icon fa fa-chevron-right"></i>
                            </span>

                            <button type="button" class="btn btn-sm float-end">
                                <a style='color: #212741;' href="{%url 'news' hood.name%}">Post News</a>
                            </button>
                        </div>
                        <div class="accordion-body">
                            <div class="content">
                                {%for news in news %}
                                <p class="mb-3">
                                <h6>{{news.title}}</h6>
                                <br> {{news.body}} <br>
                                <br>
                                <br><small class="text-muted">posted {{news.created | timesince}} ago</small>
                                </p>
                                {%endfor%}
                            </div>
                        </div>
                    </article>

                    <article class="accordion">
                        <div class="accordion-head">
                            <span>Businesses</span>
                            <span class="icon">
                                <i class="icon fa fa-chevron-right"></i>
                            </span>

                            <button type="button" class="btn btn-sm float-end">
                                <a style='color: #212741;' href="{%url 'business' hood.name%}">Post Business</a>
                            </button>
                        </div>
                        <div class="accordion-body">
                            <div class="content">
                                {%for business in business %}
                                <p class="mb-3">
                                <h6>{{business.name | capfirst}}</h6>
                                <br> {{business.owner | capfirst}}
                                <br> {{business.location | capfirst}}
                                <br> {{business.contact}}
                                <br> <small class="text-muted">active since {{business.created | timesince}}</small>
                                </p>
                                {%endfor%}
                            </div>
                        </div>
                    </article>

                    <article class="accordion">
                        <div class="accordion-head">
                            <span>Connect</span>
                            <span class="icon">
                                <i class="icon fa fa-chevron-right"></i>
                            </span>
                            <button type="button" class="btn btn-sm float-end" style='color: #212741;'  data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Comment
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="contact" action="" method="POST" class="mb-3" enctype="multipart/form-data">
                                                {%csrf_token%}
                                               <textarea name="body" id="" cols="30" rows="10" placeholder="leave a comment"></textarea>
                                                <button type="submit" id="form-submit" class="orange-button">Submit</button>
                                              </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="accordion-body">
                            <div class="content">
                                {%for comment in comments %}
                                <p class="mb-4">
                                <p>{{comment.body}}</p>
                                <small class="text-muted">posted {{comment.created | timesince}} ago by 
                                    {{comment.poster}}
                                </small>
                                </p>
                                {%endfor%}
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
</section>

<section class="simple-cta">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h4>Have you recently moved and would like to join a different <em>Hood </em>?
            </div>
            <div class="col-lg-7">
                <div class="buttons">
                    <div class="orange-button">
                        <a href="{%url 'leave' hood.name %}">Leave Hood</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}